/* ===========================
   RESET / BASE
============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f4f8;
  color: #333;
  padding: 0;
  margin: 0;
}

/* ===========================
   HEADER
============================== */
.topbar {
  background: #65266D;
  color: #fff;
  padding: 18px 24px;
  text-align: center;
}

.topbar h1 {
  font-size: 26px;
  font-weight: 600;
}

.topbar .subtitle {
  font-size: 15px;
  margin-top: 6px;
  opacity: 0.85;
}

/* ===========================
   CONTAINER
============================== */
.container {
  padding: 20px 26px;
  max-width: 1200px;
  margin: auto;
}

/* ===========================
   FILTER CONTROLS
============================== */
.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: ce
